<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wfd360.dao.StudentDao">
    <select id="getAll" parameterType="com.wfd360.model.PageData" resultType="com.wfd360.model.PageData">
SELECT id,`name`,class_id,`group` FROM student  WHERE  `group`=#{group}
 </select>
</mapper>